@use "sass:map";
@import "../../styles/_variables";

.navigation {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 8px 0;

  > li {
    list-style-type: none;
  }

  > li:not(:last-of-type) {
    margin-right: 16px;
  }

  > .end {
    margin-left: auto;
  }
}
