@use "sass:map";
@import "../../styles/_variables";

.action {
  border-width: 0;
  padding: 0;

  // border-width: 0;
  // padding: 8px 14px;
  font-size: 16px;
  // border-radius: 8px;
  color: map-get($colors, "fg");
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover {
    text-decoration: none;
    // text-decoration-color: map-get($colors, "main");
  }

  // &.action--primary {
  //   color: map-get($colors, "primary-text");
  //   background-color: map-get($colors, "primary");
  // }

  // &.action--info {
  //   color: map-get($colors, "info");
  // }

  // &.action--danger {
  //   color: map-get($colors, "primary-text");
  //   background-color: map-get($colors, "danger");
  // }
}
